.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side */
.a-left {

  gap: 2rem;
}

.a-left>img {
  width: 4rem;
  height: 4rem;
}

.Webname>h1 {
  font-size: 3rem;
  background-color: red;

  /* Create the gradient. */
  background-image: var(--buttonBg);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.Webname>h6 {
  font-size: 0.85rem;
}



/* right side */


.authForm {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;



}

.authForm>div {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.Relay {
  position: absolute;
  visibility: hidden;
}



/* Media queries */

/* For screens smaller than 480px */
@media only screen and (max-width: 480px) {
  .App {

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .a-left {

    background-color: blue;
    visibility: hidden
  }

  .a-right {


    margin: auto 358px auto 0px;

  }

  .a-right>h1 {
    font-size: 25px;
    background-color: blueviolet;

  }

  .authForm {

    border-radius: 1rem;
    padding: 1rem;

  }

  .authForm>div>input {

    width: 150px;
    height: 0.1px;
    display: block;

  }

  .Relay {
    position: absolute;
    text-align: center;
    bottom: 370px;
    visibility: visible;

    background-color: red;

    /* Create the gradient. */
    background-image: var(--buttonBg);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

  }



}

/* For screens larger than 480px */
@media only screen and (min-width: 480px) {
  /* Styles go here */
}

/* For screens larger than 768px */
@media only screen and (min-width: 768px) {
  /* Styles go here */
}

/* For screens larger than 1024px */
@media only screen and (min-width: 1024px) {
  /* Styles go here */
}

/* For screens larger than 1440px */
@media only screen and (min-width: 1440px) {
  /* Styles go here */
}